@{
    var path = !string.IsNullOrWhiteSpace(Blog.BlogPath) ? "/" + Blog.BlogPath : "";
}

<div class="comment-form-container">
    <h6>Leave a Comment</h6>
    <form id="commentform" role="form" class="form-horizontal" data-blog-path="@path">
        <fieldset>
            <legend>Post comment</legend>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input id="commentname" class="span4" type="text" size="16" required placeholder="Name">
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input id="commentemail" class="span4" type="email" placeholder="Email" required />
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input id="commenturl" class="span4" size="16" type="url" placeholder="Website URL" />
            </div>
            <textarea id="commentcontent" class="span6" rows="4" placeholder="Comment" required></textarea>
            <div class="row">
                <div class="span4">
                    <input class="btn btn-inverse" type="submit" value="Post My Comment">

                    <span id="status" class="alert" role="status" aria-live="polite"></span>

                    @*<div id="status" class="alert" role="status" aria-live="polite">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Well done!</strong> You successfully read this alert message.
                        <span class="alert"></span>
                                    </div>*@



                </div>
            </div>
        </fieldset>
    </form>
</div>
